<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Searchbar with a placeholder -->
<ion-searchbar placeholder="Buscar pokemons"></ion-searchbar>

<ion-list>
  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3>Bulbasaur</h3>
        <ion-badge color="musgo">Grass</ion-badge>
        <ion-badge color="lilas">Poison</ion-badge>
      </div>
    </ion-label>

    <ion-chip color="success">
      <ion-label>001</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3>Charmander</h3>
        <ion-badge color="laranja">fire</ion-badge>
      </div>
    </ion-label>

    <ion-chip color="success">
      <ion-label>004</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3>Squirtle</h3>
        <ion-badge color="agua">water</ion-badge>
      </div>
    </ion-label>

    <ion-chip color="success">
      <ion-label>007</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3>Pikachu</h3>
        <ion-badge color="amarello">eletric</ion-badge>
      </div>
    </ion-label>

    <ion-chip color="success">
      <ion-label>025</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/006.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3>Charizard</h3>
        <ion-badge color="laranja">fire</ion-badge>
        <ion-badge color="ar">flying</ion-badge>
      </div>
    </ion-label>

    <ion-chip color="success">
      <ion-label>006</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>

</ion-content>
