// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** laranja **/
  --ion-color-laranja: #f7aa02;
  --ion-color-laranja-rgb: 247,170,2;
  --ion-color-laranja-contrast: #000000;
  --ion-color-laranja-contrast-rgb: 0,0,0;
  --ion-color-laranja-shade: #d99602;
  --ion-color-laranja-tint: #f8b31b;

   /** agua **/
   --ion-color-agua: #2ed3d6;
  --ion-color-agua-rgb: 46,211,214;
  --ion-color-agua-contrast: #000000;
  --ion-color-agua-contrast-rgb: 0,0,0;
  --ion-color-agua-shade: #28babc;
  --ion-color-agua-tint: #43d7da;

  /** amarello **/
  --ion-color-amarello: #eab806;
  --ion-color-amarello-rgb: 234,184,6;
  --ion-color-amarello-contrast: #000000;
  --ion-color-amarello-contrast-rgb: 0,0,0;
  --ion-color-amarello-shade: #cea205;
  --ion-color-amarello-tint: #ecbf1f;

   /** ar **/
   --ion-color-ar: #93c2b3;
   --ion-color-ar-rgb: 147,194,179;
   --ion-color-ar-contrast: #000000;
   --ion-color-ar-contrast-rgb: 0,0,0;
   --ion-color-ar-shade: #81ab9e;
   --ion-color-ar-tint: #9ec8bb;

   /** musgo **/
   --ion-color-musgo: #348348;
   --ion-color-musgo-rgb: 52,131,72;
   --ion-color-musgo-contrast: #ffffff;
   --ion-color-musgo-contrast-rgb: 255,255,255;
   --ion-color-musgo-shade: #2e733f;
   --ion-color-musgo-tint: #488f5a;

   /** lilas **/
   --ion-color-lilas: #d669d8;
   --ion-color-lilas-rgb: 214,105,216;
   --ion-color-lilas-contrast: #000000;
   --ion-color-lilas-contrast-rgb: 0,0,0;
   --ion-color-lilas-shade: #bc5cbe;
   --ion-color-lilas-tint: #da78dc;
 
}

.ion-color-laranja {
  --ion-color-base: var(--ion-color-laranja);
  --ion-color-base-rgb: var(--ion-color-laranja-rgb);
  --ion-color-contrast: var(--ion-color-laranja-contrast);
  --ion-color-contrast-rgb: var(--ion-color-laranja-contrast-rgb);
  --ion-color-shade: var(--ion-color-laranja-shade);
  --ion-color-tint: var(--ion-color-laranja-tint);

}

.ion-color-agua {
  --ion-color-base: var(--ion-color-agua);
  --ion-color-base-rgb: var(--ion-color-agua-rgb);
  --ion-color-contrast: var(--ion-color-agua-contrast);
  --ion-color-contrast-rgb: var(--ion-color-agua-contrast-rgb);
  --ion-color-shade: var(--ion-color-agua-shade);
  --ion-color-tint: var(--ion-color-agua-tint);
}

.ion-color-amarello {
  --ion-color-base: var(--ion-color-amarello);
  --ion-color-base-rgb: var(--ion-color-amarello-rgb);
  --ion-color-contrast: var(--ion-color-amarello-contrast);
  --ion-color-contrast-rgb: var(--ion-color-amarello-contrast-rgb);
  --ion-color-shade: var(--ion-color-amarello-shade);
  --ion-color-tint: var(--ion-color-amarello-tint);
}

.ion-color-ar {
  --ion-color-base: var(--ion-color-ar);
  --ion-color-base-rgb: var(--ion-color-ar-rgb);
  --ion-color-contrast: var(--ion-color-ar-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ar-contrast-rgb);
  --ion-color-shade: var(--ion-color-ar-shade);
  --ion-color-tint: var(--ion-color-ar-tint);
}

.ion-color-musgo {
    --ion-color-base: var(--ion-color-musgo);
    --ion-color-base-rgb: var(--ion-color-musgo-rgb);
    --ion-color-contrast: var(--ion-color-musgo-contrast);
    --ion-color-contrast-rgb: var(--ion-color-musgo-contrast-rgb);
    --ion-color-shade: var(--ion-color-musgo-shade);
    --ion-color-tint: var(--ion-color-musgo-tint);
  }

  .ion-color-lilas {
    --ion-color-base: var(--ion-color-lilas);
    --ion-color-base-rgb: var(--ion-color-lilas-rgb);
    --ion-color-contrast: var(--ion-color-lilas-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lilas-contrast-rgb);
    --ion-color-shade: var(--ion-color-lilas-shade);
    --ion-color-tint: var(--ion-color-lilas-tint);
  }